/* .homeCat .swiper .item{
    padding:15px;
    width:100%;
    height:auto;
    border-radius: 10px;
}
.homeCat .swiper .item img{
    width:130px;
    height:80px;
}
.homeCat{
    padding: 15px 0px;
}
.containerr{
    margin:0px 30px;
} */